<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>777397457448-8q28qsf6r14bmkl85hlbj8oucb3nv0jk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.777397457448-8q28qsf6r14bmkl85hlbj8oucb3nv0jk</string>
	<key>API_KEY</key>
	<string>AIzaSyC359viyi3FU6obBrT7MR2R1W1sQgQ8Cjw</string>
	<key>GCM_SENDER_ID</key>
	<string>777397457448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sumrcrm.servicios.in</string>
	<key>PROJECT_ID</key>
	<string>sumr-e07d0</string>
	<key>STORAGE_BUCKET</key>
	<string>sumr-e07d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:777397457448:ios:a3e9fa50c4c0ccd4</string>
	<key>DATABASE_URL</key>
	<string>https://sumr-e07d0.firebaseio.com</string>
</dict>
</plist>