
ion-header{ border-bottom: 1px solid #93918f; }

ion-list.us{ 
    ion-item{
        
        --padding-top:3px; --padding-bottom:3px; --padding-end:0px; --inner-padding-end:0px;

        ion-avatar{

            position: relative; 

            .img{
                display: inline-block;  margin-right: 10px; position: relative; vertical-align: top; width: 40px!important;
                ._img_us{  position: absolute; border-radius: 200px; -moz-border-radius: 200px; -webkit-border-radius: 200px; }
            }
            .img._img_onl_no{  filter: grayscale(100%)!important }
            .chnl{ border-radius: 200px; -moz-border-radius: 200px; -webkit-border-radius: 200px; width: 15px; height: 15px; border: 2px solid white; position: absolute; right: -3px; bottom: -3px; background-color:#27c400; }
        }

        ._spn_tt{ 
            font-size: 15px;
            ._spn_typ{ display: block!important; color: #9E9E9E; font-size: 13px; }
         }
        
        
        ion-buttons{
            text-align: right;
            ion-label{
                span{ display: block; width: 100%; font-size:11px; color: rgb(169, 172, 177); }
                ion-badge{ --padding-bottom:4px; --padding-top:4px; --padding-start:3px; --padding-end:3px; font-size: 8px; font-weight: bolder; }
            }
        }
    }
}
