._anm{-webkit-transition-property: all; -moz-transition-property: all; -ms-transition-property: all; -o-transition-property: all; transition-property: all; -webkit-transition-duration: 0.4s; -moz-transition-duration: 0.4s; -ms-transition-duration: 0.4s; -o-transition-duration: 0.4s; transition-duration: 0.4s; -webkit-transition-timing-function: ease-in-out; -moz-transition-timing-function: ease-in-out; -ms-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-timing-function: ease-in-out; -webkit-transition-delay: 0s; -moz-transition-delay: 0s; -ms-transition-delay: 0s; -o-transition-delay: 0s; transition-delay: 0s;}


.sumr-accounts-list{ background-color: white; --padding-start:15%; --padding-end:15%; }
.sumr-accounts-list .sumr-logo{ --background: none; background-image: url("../../../assets/imgs/logo.svg"); width: 200px; height: 60px; background-repeat: no-repeat; background-position: center; margin: auto; display: block; margin-top: 70px; margin-bottom: 60px; z-index: 1; }

ion-text{ text-align: center; width: 100%; margin: 0; padding: 0; }
ion-text h1{ width: 100%; margin: 0; padding: 0 0 20px 0; font-size: 12px; }
ion-list{ 
    --background: none; background-color:transparent; padding-bottom: 200px; position: relative;

    ion-item{ --background: none; overflow: visible; text-align: center; text-overflow: ellipsis; white-space: nowrap; } 
    ion-item._hde{ position: absolute; left: 0; top:-100px; pointer-events: none; }
}

ion-list._ld{

    ion-item._ld_o{ 
        position: absolute; left: 0; top:0; width: 100%; padding-top: 100px;
       
        ion-chip ion-avatar{
            figure{
                background-image: url("../../../assets/imgs/loader_b.svg") !important; background-repeat: no-repeat; background-position: center center; background-size: auto 80%;    
            }
        }
    }
}

ion-chip{ --width: 100%; width: 100%; overflow: visible; padding-left:4px; --padding-start:4px;  text-align: center; background-color: #e4ebef !important; }
ion-chip ion-avatar{ width: 42px; height: 42px; min-width: 42px; min-height: 42px; background-color: white; overflow: hidden; }
ion-chip ion-avatar figure{ width: 38px; height: 38px; overflow: hidden; margin: 0; padding: 0; border-radius: 100%; border: 3px solid white; background-size: cover; }
ion-chip ion-label{ text-overflow: ellipsis; white-space: nowrap !important; overflow: hidden; text-align: center; width: 100%; max-width: 143px; }